
test_file.py
*.pyc
test_string.txt
output_data/output_1.csv
wikipedia_dump/bereinigter_wikipedia_dump.xml
wikipedia_dump/enwiki-latest-pages-articles.xml
wikipedia_dump/extrahierte_daten BACKUP.csv
output_data/output_2.csv
wikipedia_dump/simplewiki-latest-pages-articles.xml
output_text.txt
output*


annotated_output_data/*
annotated_parsed_data/*
annotated_Snippets/*
annotated_snippets_with_features/*
output_data/*
parsed_data/*
simple_output_data/*
simple_parsed_data/*
simple_Snippets/*
simple_snippets_with_features/*
snippets/*
snippets_with_features/*
wikipedia_dump/*
snippets_with_features__/*
snippets_with_features_/*
simple_snippets_with_features_/*
simple_snippets_with_features__/*
